In [1]:
#import dependencies
import pandas as pd

In [3]:
#import data
title_principals_df=pd.read_csv('title_principals.tsv', sep='\t')

In [4]:
names_basics_df=pd.read_csv('name_basics.tsv', sep='\t')

In [5]:
title_basics_df=pd.read_csv("title_basics.tsv", sep='\t')

c:\Users\Skynet\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
#merge data
df=title_principals_df.merge(names_basics_df)

In [7]:
df=df.merge(title_basics_df)

In [8]:

df.head(5)

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,1,nm1588970,self,\N,"[""Self""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000001,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N,William Heise,1847,1910,"cinematographer,director,producer","tt0241393,tt0229665,tt0285863,tt0241715",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
3,tt7513040,2,nm1588970,archive_footage,\N,"[""Self""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"
4,tt7513040,7,nm0249379,archive_footage,\N,"[""Self""]",Thomas A. Edison,1847,1931,"producer,director,miscellaneous","tt0004457,tt0001223,tt0361066,tt0242312",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"

In [10]:
#select desired columns with information for making the model and for filtering
df=df[["category","characters","primaryName","titleType","primaryTitle","originalTitle","startYear","genres"]]

In [11]:
df.head(5)

,category,characters,primaryName,titleType,primaryTitle,originalTitle,startYear,genres
0,self,"[""Self""]",Carmencita,short,Carmencita,Carmencita,1894,"Documentary,Short"
1,director,\N,William K.L. Dickson,short,Carmencita,Carmencita,1894,"Documentary,Short"
2,cinematographer,\N,William Heise,short,Carmencita,Carmencita,1894,"Documentary,Short"
3,archive_footage,"[""Self""]",Carmencita,short,Den gamla goda tiden,Den gamla goda tiden,1946,"Documentary,Short"
4,archive_footage,"[""Self""]",Thomas A. Edison,short,Den gamla goda tiden,Den gamla goda tiden,1946,"Documentary,Short"

In [12]:
df['category'].value_counts()

actor                  12716628
self                    9902086
actress                 9883943
writer                  8101130
director                6652693
producer                3755695
cinematographer         1976672
composer                1933372
editor                  1926201
archive_footage          377477
production_designer      372252
archive_sound              4179
Name: category, dtype: int64

In [13]:
#filter only actor roles
cleaned_df=df[df['category'].isin(['actor','actress'])]

In [14]:
cleaned_df['category'].value_counts()

actor      12716628
actress     9883943
Name: category, dtype: int64

In [45]:
cleaned_df

,category,characters,primaryName,titleType,primaryTitle,originalTitle,startYear,genres
0,actor,Père Ubu,Michel Poujade,movie,Ubu and the Big Thug,Ubu et la grande Gidouille,1979,"Animation,Crime,Drama"
1,actress,Mère Ubu,Janine Grillon,movie,Ubu and the Big Thug,Ubu et la grande Gidouille,1979,"Animation,Crime,Drama"
2,actress,"Ojo, a Munchkin Boy",Violet MacMillan,movie,The Patchwork Girl of Oz,The Patchwork Girl of Oz,1914,"Adventure,Comedy,Family"
3,actor,"Unc Nunkie, Ojo's Guardian",Frank Moore,movie,The Patchwork Girl of Oz,The Patchwork Girl of Oz,1914,"Adventure,Comedy,Family"
4,actor,"Dr. Pipt, the Crooked Magician",Raymond Russell,movie,The Patchwork Girl of Oz,The Patchwork Girl of Oz,1914,"Adventure,Comedy,Family"
...,...,...,...,...,...,...,...,...
1918593,actor,El Krokodil,Holger Düsterhöft,movie,BADMEN (with a good behavior),BADMEN (with a good behavior),2018,"Comedy,Horror"
1918594,actor,Dr. van Edkill,Tristan Heinen-Bizjak,movie,BADMEN (with a good behavior),BADMEN (with a good behavior),2018,"Comedy,Horror"
1918595,actor,Sprecher,David Nathan,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary
1918596,actor,\N,Helmut Schiffner,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary
1918597,actor,\N,Andree Steinke,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary

In [16]:
cleaned_df["titleType"].unique()

array(['short', 'movie', 'tvEpisode', 'video', 'tvSeries', 'tvMovie',
       'tvMiniSeries', 'tvSpecial', 'tvShort', 'videoGame'], dtype=object)

In [17]:
#filter only movies
cleaned_df=cleaned_df[cleaned_df['titleType'].isin(['movie'])]

In [18]:
#filter only roles after 1912
cleaned_df=cleaned_df.loc[cleaned_df['startYear']!='\\N']
cleaned_df["startYear"]=cleaned_df["startYear"].astype(int)

In [19]:
cleaned_df=cleaned_df.loc[cleaned_df['startYear']>1912]

In [47]:
#Delete rows with "\N" for characters column
cleaned_df=cleaned_df.loc[cleaned_df['characters']!='\\N']

In [48]:
#reset the index since many rows were removed
cleaned_df=cleaned_df.reset_index(drop='True')

In [ ]:
#clean the character column to only show the character name
cleaned_df['characters']=cleaned_df['characters'].str.replace("\[\"","")
cleaned_df['characters']=cleaned_df['characters'].str.replace("\"\]","")

In [49]:
#View Dataframe
cleaned_df

,category,characters,primaryName,titleType,primaryTitle,originalTitle,startYear,genres
0,actor,Père Ubu,Michel Poujade,movie,Ubu and the Big Thug,Ubu et la grande Gidouille,1979,"Animation,Crime,Drama"
1,actress,Mère Ubu,Janine Grillon,movie,Ubu and the Big Thug,Ubu et la grande Gidouille,1979,"Animation,Crime,Drama"
2,actress,"Ojo, a Munchkin Boy",Violet MacMillan,movie,The Patchwork Girl of Oz,The Patchwork Girl of Oz,1914,"Adventure,Comedy,Family"
3,actor,"Unc Nunkie, Ojo's Guardian",Frank Moore,movie,The Patchwork Girl of Oz,The Patchwork Girl of Oz,1914,"Adventure,Comedy,Family"
4,actor,"Dr. Pipt, the Crooked Magician",Raymond Russell,movie,The Patchwork Girl of Oz,The Patchwork Girl of Oz,1914,"Adventure,Comedy,Family"
...,...,...,...,...,...,...,...,...
1315297,actor,John Ferinio,Patrick Hoffmann,movie,BADMEN (with a good behavior),BADMEN (with a good behavior),2018,"Comedy,Horror"
1315298,actor,Jack Mauser,Loco Meisenkaiser,movie,BADMEN (with a good behavior),BADMEN (with a good behavior),2018,"Comedy,Horror"
1315299,actor,El Krokodil,Holger Düsterhöft,movie,BADMEN (with a good behavior),BADMEN (with a good behavior),2018,"Comedy,Horror"
1315300,actor,Dr. van Edkill,Tristan Heinen-Bizjak,movie,BADMEN (with a good behavior),BADMEN (with a good behavior),2018,"Comedy,Horror"
1315301,actor,Sprecher,David Nathan,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary

In [131]:
#tool for searching for specific movie titles to review the dataframe
cleaned_df[cleaned_df['primaryTitle'].str.contains("The Terminator")==True]

,category,characters,primaryName,titleType,primaryTitle,originalTitle,startYear,genres
11726304,actor,"[""The Terminator""]",Arnold Schwarzenegger,movie,The Terminator,The Terminator,1984,"Action,Sci-Fi"
11726305,actor,"[""Traxler""]",Paul Winfield,movie,The Terminator,The Terminator,1984,"Action,Sci-Fi"
11726308,actor,"[""Kyle Reese""]",Michael Biehn,movie,The Terminator,The Terminator,1984,"Action,Sci-Fi"
11726310,actress,"[""Sarah Connor""]",Linda Hamilton,movie,The Terminator,The Terminator,1984,"Action,Sci-Fi"

In [ ]:
#tool for searching for specific actors to review the dataframe
df[df['primaryName'].str.contains("Brad Pitt")==True]

In [50]:
#export the cleaned dataframes
cleaned_df.to_csv("actors_extra_columns.csv")
cleaned_df[["primaryName","characters","primaryTitle","originalTitle","genres"]].to_csv("actors_cleaned.csv")