In [1]:
import pandas as pd

In [2]:
title_principals_df=pd.read_csv('title_principals.tsv', sep='\t')

In [3]:
names_basics_df=pd.read_csv('name_basics.tsv', sep='\t')

In [4]:
title_basics_df=pd.read_csv("title_basics.tsv", sep='\t')

c:\Users\Skynet\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df=title_principals_df.merge(names_basics_df)

In [6]:
df=df.merge(title_basics_df)

In [7]:

df.head(5)

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,1,nm1588970,self,\N,"[""Self""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000001,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N,William Heise,1847,1910,"cinematographer,director,producer","tt0241393,tt0229665,tt0285863,tt0241715",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
3,tt7513040,2,nm1588970,archive_footage,\N,"[""Self""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"
4,tt7513040,7,nm0249379,archive_footage,\N,"[""Self""]",Thomas A. Edison,1847,1931,"producer,director,miscellaneous","tt0004457,tt0001223,tt0361066,tt0242312",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"

In [8]:
df=df[["category","characters","primaryName","titleType","primaryTitle","originalTitle","startYear","genres"]]

In [26]:
df.head(5)

,category,characters,primaryName,titleType,primaryTitle,originalTitle,startYear,genres
0,self,"[""Self""]",Carmencita,short,Carmencita,Carmencita,1894,"Documentary,Short"
1,director,\N,William K.L. Dickson,short,Carmencita,Carmencita,1894,"Documentary,Short"
2,cinematographer,\N,William Heise,short,Carmencita,Carmencita,1894,"Documentary,Short"
3,archive_footage,"[""Self""]",Carmencita,short,Den gamla goda tiden,Den gamla goda tiden,1946,"Documentary,Short"
4,archive_footage,"[""Self""]",Thomas A. Edison,short,Den gamla goda tiden,Den gamla goda tiden,1946,"Documentary,Short"

In [28]:
df['category'].value_counts()

actor                  12716628
self                    9902086
actress                 9883943
writer                  8101130
director                6652693
producer                3755695
cinematographer         1976672
composer                1933372
editor                  1926201
archive_footage          377477
production_designer      372252
archive_sound              4179
Name: category, dtype: int64

In [124]:
cleaned_df=df[df['category'].isin(['actor','actress'])]

In [125]:
cleaned_df['category'].value_counts()

actor      12716628
actress     9883943
Name: category, dtype: int64

In [126]:
cleaned_df

,category,characters,primaryName,titleType,primaryTitle,originalTitle,startYear,genres
14,actor,"[""Blacksmith""]",Charles Kayser,short,Blacksmith Scene,Blacksmith Scene,1893,"Comedy,Short"
15,actor,"[""Assistant""]",John Ott,short,Blacksmith Scene,Blacksmith Scene,1893,"Comedy,Short"
21,actor,\N,James J. Corbett,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,1894,"Short,Sport"
22,actor,\N,Peter Courtney,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,1894,"Short,Sport"
25,actor,"[""Sneezing Man""]",Fred Ott,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,1894,"Documentary,Short"
...,...,...,...,...,...,...,...,...
57602307,actor,"[""Lisa""]",Dovin Milligan,tvMovie,Domestic Relations,Domestic Relations,2018,"Comedy,Drama"
57602320,actor,"[""Narration""]",Brett Rosenberg,short,"A Shoelace, a Cup of Coffee, and The Turn of A...","A Shoelace, a Cup of Coffee, and The Turn of A...",\N,"Animation,Drama,Short"
57602321,actor,"[""Sprecher""]",David Nathan,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary
57602322,actor,\N,Helmut Schiffner,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary
57602323,actor,\N,Andree Steinke,movie,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary

In [127]:
cleaned_df["titleType"].unique()

array(['short', 'movie', 'tvEpisode', 'video', 'tvSeries', 'tvMovie',
       'tvMiniSeries', 'tvSpecial', 'tvShort', 'videoGame'], dtype=object)

In [128]:
cleaned_df=cleaned_df[cleaned_df['titleType'].isin(['movie'])]

In [129]:
cleaned_df=cleaned_df.loc[cleaned_df['startYear']!='\\N']
cleaned_df["startYear"]=cleaned_df["startYear"].astype(int)

In [130]:
cleaned_df=cleaned_df.loc[cleaned_df['startYear']>1912]

In [131]:
cleaned_df[cleaned_df['primaryTitle'].str.contains("The Terminator")==True]

,category,characters,primaryName,titleType,primaryTitle,originalTitle,startYear,genres
11726304,actor,"[""The Terminator""]",Arnold Schwarzenegger,movie,The Terminator,The Terminator,1984,"Action,Sci-Fi"
11726305,actor,"[""Traxler""]",Paul Winfield,movie,The Terminator,The Terminator,1984,"Action,Sci-Fi"
11726308,actor,"[""Kyle Reese""]",Michael Biehn,movie,The Terminator,The Terminator,1984,"Action,Sci-Fi"
11726310,actress,"[""Sarah Connor""]",Linda Hamilton,movie,The Terminator,The Terminator,1984,"Action,Sci-Fi"

<bound method DataFrame.reindex of          category                      characters            primaryName  \
1573        actor                        Père Ubu         Michel Poujade
1574      actress                        Mère Ubu         Janine Grillon
1650      actress             Ojo, a Munchkin Boy       Violet MacMillan
1651        actor      Unc Nunkie, Ojo's Guardian            Frank Moore
1654        actor  Dr. Pipt, the Crooked Magician        Raymond Russell
...           ...                             ...                    ...
57602243    actor                 ["El Krokodil"]      Holger Düsterhöft
57602244    actor              ["Dr. van Edkill"]  Tristan Heinen-Bizjak
57602321    actor                    ["Sprecher"]           David Nathan
57602322    actor                              \N       Helmut Schiffner
57602323    actor                              \N         Andree Steinke

         titleType                                       primaryTitle  \
1573         movie                               Ubu and the Big Thug
1574         movie                               Ubu and the Big Thug
1650         movie                           The Patchwork Girl of Oz
1651         movie                           The Patchwork Girl of Oz
1654         movie                           The Patchwork Girl of Oz
...            ...                                                ...
57602243     movie                      BADMEN (with a good behavior)
57602244     movie                      BADMEN (with a good behavior)
57602321     movie  Illenau - die Geschichte einer ehemaligen Heil...
57602322     movie  Illenau - die Geschichte einer ehemaligen Heil...
57602323     movie  Illenau - die Geschichte einer ehemaligen Heil...

                                              originalTitle  startYear  \
1573                             Ubu et la grande Gidouille       1979
1574                             Ubu et la grande Gidouille       1979
1650                               The Patchwork Girl of Oz       1914
1651                               The Patchwork Girl of Oz       1914
1654                               The Patchwork Girl of Oz       1914
...                                                     ...        ...
57602243                      BADMEN (with a good behavior)       2018
57602244                      BADMEN (with a good behavior)       2018
57602321  Illenau - die Geschichte einer ehemaligen Heil...       2017
57602322  Illenau - die Geschichte einer ehemaligen Heil...       2017
57602323  Illenau - die Geschichte einer ehemaligen Heil...       2017

                           genres
1573        Animation,Crime,Drama
1574        Animation,Crime,Drama
1650      Adventure,Comedy,Family
1651      Adventure,Comedy,Family
1654      Adventure,Comedy,Family
...                           ...
57602243            Comedy,Horror
57602244            Comedy,Horror
57602321              Documentary
57602322              Documentary
57602323              Documentary

[1918598 rows x 8 columns]>

In [119]:
string="I love jam!"
print(string[2:-2])
chars=cleaned_df['characters'].iloc[11726304:11726310]
chars
#for i in range(0,len(chars)):
#   chars.iloc[i]=chars.iloc[i][2:-2]

love ja

Series([], Name: characters, dtype: object)

In [132]:
cleaned_df.to_csv("actors.csv")

In [29]:
df[df['primaryName'].str.contains("Brad Pitt")==True]

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
9103485,tt0097136,3,nm0000093,actor,\N,"[""Dwight Ingalls""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103486,tt0098804,2,nm0000093,actor,\N,"[""Walker Lovejoy""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103487,tt0100797,3,nm0000093,actor,\N,"[""Billy Canton""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103488,tt0101268,2,nm0000093,actor,\N,"[""Joe Maloney""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103489,tt0104007,2,nm0000093,actor,\N,"[""Cox""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
...,...,...,...,...,...,...,...,...,...,...,...
9103881,tt9863946,7,nm0000093,archive_footage,\N,"[""Floyd (Dick's Roommate)""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103882,tt9893218,3,nm0000093,producer,producer,\N,Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103883,tt9898330,2,nm0000093,self,\N,"[""Self""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
41005596,tt10948248,8,nm10981109,composer,\N,\N,Brad Pitts,\N,\N,"camera_department,composer",tt10947226
41005597,tt10948282,8,nm10981109,composer,\N,\N,Brad Pitts,\N,\N,"camera_department,composer",tt10947226