In [6]:
import pandas as pd

In [8]:
title_principals_df=pd.read_csv('title_principals.tsv', sep='\t')

In [10]:
names_basics_df=pd.read_csv('name_basics.tsv', sep='\t')

In [26]:
df=title_principals_df.merge(names_basics_df)

In [27]:
df

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000001,1,nm1588970,self,\N,"[""Self""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001"
1,tt7513040,2,nm1588970,archive_footage,\N,"[""Self""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001"
2,tt0000001,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254"
3,tt0000005,3,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254"
4,tt0000006,1,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254"
...,...,...,...,...,...,...,...,...,...,...,...
57602704,tt9916856,3,nm10538646,actor,\N,"[""Stephan""]",Andreas Demmel,\N,\N,actor,tt9916856
57602705,tt9916856,4,nm10538647,actress,\N,"[""Kathi""]",Kathrin Knöpfle,\N,\N,actress,"tt9916856,tt5641586"
57602706,tt9916856,5,nm10538645,director,\N,\N,Johan Planefeldt,\N,\N,director,tt9916856
57602707,tt9916856,6,nm6951431,writer,screenplay by,\N,Johan Planefeldt,\N,\N,"writer,cinematographer,camera_department","tt4247168,tt9916856"
57602708,tt9916856,7,nm10538653,composer,\N,\N,Farahnaz Hatam,\N,\N,composer,tt9916856

In [24]:
df=df.dropna

AttributeError: 'function' object has no attribute 'dropna'

<bound method DataFrame.dropna of              tconst  ordering      nconst         category            job  \
0         tt0000001         1   nm1588970             self             \N
1         tt7513040         2   nm1588970  archive_footage             \N
2         tt0000001         2   nm0005690         director             \N
3         tt0000005         3   nm0005690         director             \N
4         tt0000006         1   nm0005690         director             \N
...             ...       ...         ...              ...            ...
57602704  tt9916856         3  nm10538646            actor             \N
57602705  tt9916856         4  nm10538647          actress             \N
57602706  tt9916856         5  nm10538645         director             \N
57602707  tt9916856         6   nm6951431           writer  screenplay by
57602708  tt9916856         7  nm10538653         composer             \N

           characters           primaryName birthYear deathYear  \
0            ["Self"]            Carmencita      1868      1910
1            ["Self"]            Carmencita      1868      1910
2                  \N  William K.L. Dickson      1860      1935
3                  \N  William K.L. Dickson      1860      1935
4                  \N  William K.L. Dickson      1860      1935
...               ...                   ...       ...       ...
57602704  ["Stephan"]        Andreas Demmel        \N        \N
57602705    ["Kathi"]       Kathrin Knöpfle        \N        \N
57602706           \N      Johan Planefeldt        \N        \N
57602707           \N      Johan Planefeldt        \N        \N
57602708           \N        Farahnaz Hatam        \N        \N

                                 primaryProfession  \
0                                       soundtrack
1                                       soundtrack
2                cinematographer,director,producer
3                cinematographer,director,producer
4                cinematographer,director,producer
...                                            ...
57602704                                     actor
57602705                                   actress
57602706                                  director
57602707  writer,cinematographer,camera_department
57602708                                  composer

                                   knownForTitles
0                             tt0057728,tt0000001
1                             tt0057728,tt0000001
2         tt1496763,tt1428455,tt0219560,tt0308254
3         tt1496763,tt1428455,tt0219560,tt0308254
4         tt1496763,tt1428455,tt0219560,tt0308254
...                                           ...
57602704                                tt9916856
57602705                      tt9916856,tt5641586
57602706                                tt9916856
57602707                      tt4247168,tt9916856
57602708                                tt9916856

[57602709 rows x 11 columns]>

In [29]:
df[df['primaryName'].str.contains("Brad Pitt")==True]

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
9103485,tt0097136,3,nm0000093,actor,\N,"[""Dwight Ingalls""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103486,tt0098804,2,nm0000093,actor,\N,"[""Walker Lovejoy""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103487,tt0100797,3,nm0000093,actor,\N,"[""Billy Canton""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103488,tt0101268,2,nm0000093,actor,\N,"[""Joe Maloney""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103489,tt0104007,2,nm0000093,actor,\N,"[""Cox""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
...,...,...,...,...,...,...,...,...,...,...,...
9103881,tt9863946,7,nm0000093,archive_footage,\N,"[""Floyd (Dick's Roommate)""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103882,tt9893218,3,nm0000093,producer,producer,\N,Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
9103883,tt9898330,2,nm0000093,self,\N,"[""Self""]",Brad Pitt,1963,\N,"producer,actor,soundtrack","tt0114746,tt0421715,tt1210166,tt0356910"
41005596,tt10948248,8,nm10981109,composer,\N,\N,Brad Pitts,\N,\N,"camera_department,composer",tt10947226
41005597,tt10948282,8,nm10981109,composer,\N,\N,Brad Pitts,\N,\N,"camera_department,composer",tt10947226